.boton
{
    width:250px; 
    height:80px;
    color: darkblue;
    font-size: 30px;
    cursor: pointer;
}
.titulo
{
    font-weight: bold
}

.ima
{
    width:200px;
    height:200px
}
.ima-2
{
    width: 400px;
    height:250px
}
.circulo
{
    height:200px;
    width:200px;
    border-radius:100px;
    margin-bottom: 15px;
}

.circulo:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: inset 0 0 0 3px white;
}

.boton:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: inset 0 0 0 3px white;
    
}

ul li
{
    margin-bottom: 10px;
    margin-left: -20px;
}

a:link 
{
    color: white; 
    text-decoration: none 
}

a:visited 
{
    color:white; 
    text-decoration: none 
}

a:hover
{ 
    color: aqua;
}
